* {
    box-sizing: border-box
} 

.Tools{
    height:30%;
    width: 100%;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-around;

    background-color: #95a5a6;
}
.Tools .ToolHolder{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 30%;
    height: 100%;
}
.Tools .ToolHolder .ToolContainer {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-evenly;
}
.Tools .ToolHolder .ToolContainer button{
    width: 30%;
}
.InputForm{
    display: flex;
    flex-direction: column;
    width: 0 90%;
    height: 0 50%;
    margin: 5%;
    margin-bottom: 0;
    padding:10%;
    background-color: #95a5a6;
}

.ScreenFiller .Filler{
    position: fixed;
    left: 0;
    top:0;
    background-color: grey;
    opacity: 40%;
    width: 100%;
    height: 100%;
}
.ScreenFiller .Loader {
    position: fixed;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    top:50%;
    left: 50%;
    transform: translate(-50%,0);
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }